*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin:5px auto;
    display:block;    
    width: 120px;
    height: 40px;
    border-radius: 5px;

}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    flex-wrap: wrap;
    width: 500px;
}

.squares {
    border: 1px solid black;
}

